<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <script src="https://kit.fontawesome.com/9d53be7224.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <main class="interactive" id="pieGraphicTwo">
            <h1 class="graphic-hed">More than 50% of the state budget pays for education</h1>
            <p class="graphic-chatter">K-12, higher education and other education
              programs make up about 59% of Washington's 2019-21 operating budget. To learn more about higher education funding, <a href="https://www.seattletimes.com/education-lab/state-colleges-and-universities-are-girding-for-a-tough-financial-future-after-the-coronavirus-pandemic/">click here.</a> </p>



            <div class="CountyTrends" id="treeChartTwo"></div>




            <div class="caption-container">
              <p class="data-source">Source: Office of Financial Management</p>
              <p class="art-credit">Lauren Flannery / The Seattle Times</p>
            </div>
          </main>
        </responsive-child>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
