<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <script src="https://kit.fontawesome.com/9d53be7224.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <main class="interactive" id="countyTrendGraphic">
            <h1 class="graphic-hed">Who pays for higher education in Washington?</h1>
            <p class="graphic-chatter">Over the past 20 years, as state appropriations for higher education went down,
              tuition rates increased. These charts, which show funding for four-year schools, have been adjusted for
              inflation and rounded to the nearest million.</p>




              <div class="stepper">

                <div class="slide" data-slide="1">
                  Before the Great Recession, Washington’s public colleges and universities received the lion’s share
                  of their funding from state appropriations, which come from taxes paid by residents and businesses.
                  After 2008, state revenue from tax collections fell sharply, and higher education  took a big cut,
                  as this chart shows. Then, as the economic recovery took off about five years ago, legislators started
                  putting more money into higher education. In recent years, they’ve also pumped more into student financial
                  aid, which is not shown on this chart. In FY2021, the state expects to spend $483 million on student aid.

                </div>

                <div class="slide" data-slide="2">
                  The other major source of higher education funding is tuition. Washington colleges and universities
                  have steadily collected more in tuition revenue over the last 20 years, but the amount they
                  charged escalated sharply after the Great Recession as schools tried to make up for cuts in
                  state appropriations. After a few years of double-digit tuition hikes, lawmakers put the brakes
                  on the price of going to college in 2014, and capped the amount tuition could rise. (The numbers
                  in this chart also reflect an increase in full-time-equivalent enrollment of about 34% between 2000
                  and 2018. More students mean more tuition is collected.)

                </div>

                <div class="slide" data-slide="3">
                  Today, tuition is a slightly larger share of higher education funding than state taxpayer dollars.
                  But if state legislators take a big chunk out of college funding to balance the budget, schools say
                  they won’t be able to make up the difference by charging higher tuition, since increases are capped
                  by law. And if enrollments drop, that could also worsen the crisis.

                </div>

                  <div class="icon">
                    <div><i class="fas fa-caret-left"></i></div>
                    <div><i class="fas fa-caret-right"></i></div>
                  </div>

              </div>


            <div class="key">
              <div class="eachKey">
                <div class="color" style="background-color:rgb(12, 88, 125);"></div> Tuition dollars
              </div>
              <div class="eachKey">
                <div class="color" style="background-color:rgb(208, 141, 68);"></div> State dollars
              </div>
              <!-- <div class="eachKey">
                <div class="color" style="background-color:goldenrod;"></div> Financial Aid
              </div> -->
            </div>



            <div class="CountyTrends" id="barChart"></div>




            <div class="caption-container">
              <p class="data-source">Source: Legislative Evaluation & Accountability Program Committee</p>
              <p class="art-credit">Lauren Flannery / The Seattle Times</p>
            </div>
          </main>
        </responsive-child>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
